[[[define "v1-base-domain/dns-search.html"]]]
[[[template "common/header.html" .]]]
<div id="baseDomainListDiv" style="padding: 15px">
    <div class="layui-card">
        <div class="layui-card-header">
            域名结果集
        </div>
        <div class="layui-card-body">
            <table id="baseDomainListTable" lay-filter="baseDomainListTable" style="table-layout: fixed;"
                   class="layui-table">
                <thead>
                <tr>
                    <th width="25%">域名</th>
                    <th width="30%">解析IP</th>
                    <th width="15%">Host</th>
                    <th width="10%">是否可打开</th>
                    <th width="5%">类型</th>
                    <th width="15%">操作</th>
                </tr>
                </thead>
                <tbody id="tableBody">
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/html" id="operationTpl">
    <button class="layui-btn layui-btn-normal layui-btn-xs" lay-event="getSource">获取资源</button>
    <button class="layui-btn layui-btn-warm layui-btn-xs" lay-event="see">查看结果</button>
</script>
<script>
    var isReload = "[[[.isReload]]]";
    //一般直接写在一个js文件中
    layui.use(['layer', 'table'], function () {
        var layer = layui.layer;
        var $ = layui.jquery;
        var table = layui.table;

        var init = function (start) {
            $.get('/v1/dns/search/json?domainStr=[[[.baseDomain]]]&start=' + start, function (res) {
                if (res.data.length != 0) {
                    var htmlStr = "";
                    for (var o in res.data) {
                        htmlStr += "<tr>";
                        htmlStr += "<td>" + res.data[o].Domain + "</td>";
                        htmlStr += "<td style=\"\" >" + res.data[o].Ip.join("<br>") + "</td>";
                        htmlStr += "<td>" + res.data[o].Host + "</td>";
                        htmlStr += "<td>" + res.data[o].IsOpen + "</td>";
                        htmlStr += "<td>" + res.data[o].Type + "</td>";
                        htmlStr += "<td>\n" +
                            "    <button class=\"layui-btn layui-btn-normal layui-btn-xs\" k=" + res.data[o].Domain + "" +
                            " lay-event=\"getSource\">获取资源</button>\n" +
                            "    <button class=\"layui-btn layui-btn-warm layui-btn-xs\" k=" + res.data[o].Domain + "" +
                            " lay-event=\"see\">查看结果</button>" +
                            "</td>";
                        htmlStr += "</tr>";
                    }

                    $('#tableBody').prepend(htmlStr);
                }
                if (isReload == "1") {
                    setTimeout(function () {
                        init(parseInt(res.count) - 1);
                    }, 2000);
                }
            });
        };
        init(0);

        $('*[lay-event="getSource"]').click(function () {
            var d = $(this).attr("k");
            window.open("/v1/crawl/search?isReload=1&domainStr=" + d);
        });

        $('*[lay-event="see"]').click(function () {
            var d = $(this).attr("k");
            window.open("/v1/crawl/search?isReload=0bai&domainStr=" + d);
        });

        layer.open({
            type: 1,
            title: false,
            closeBtn: false,
            area: ["95%", "95%"],
            moveType: 1,
            content: $('#baseDomainListDiv'),
        });

    });
</script>
[[[template "common/footer.html" .]]]
[[[end]]]