[[[define "v1-base-domain/index.html"]]]
[[[template "common/header.html" .]]]
<div id="baseDomainListDiv" style="padding: 15px">
    <div class="layui-card">
        <div class="layui-card-body">
            <form class="layui-form" action="" onsubmit="return false;">
                <div class="layui-form-item">
                    <label class="layui-form-label">根域名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="baseDomain" lay-verify="baseDomain" autocomplete="off"
                               placeholder="请输入根域名：xxx.com"
                               class="layui-input">
                    </div>
                    <div class="layui-input-inline" style="color: #ff4148;">
                        * 请输入根域名，例：a.com
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button type="submit" class="layui-btn" lay-submit="" lay-filter="search">开始搜索</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="layui-card">
        <div class="layui-card-header">
            已经执行的搜索记录
        </div>
        <div class="layui-card-body">
            <table id="baseDomainListTable" lay-filter="baseDomainListTable"></table>
        </div>
    </div>
</div>

<script type="text/html" id="operationTpl">
    <button class="layui-btn layui-btn-normal layui-btn-xs" lay-event="list">查看结果</button>
    <button class="layui-btn layui-btn-warm layui-btn-xs" lay-event="research">重新搜索</button>
</script>
<script>
    //一般直接写在一个js文件中
    layui.use(['layer', 'table', 'form'], function () {
        var layer = layui.layer;
        var $ = layui.jquery;
        var table = layui.table;
        var form = layui.form;

        table.render({
            elem: '#baseDomainListTable'
            , url: '/v1/json'
            , page: false
            , cols: [[ //表头
                {type: "number", title: '序列', width: 80, sort: true, templet: "<span>{{ d.LAY_INDEX }}</span>"}
                , {field: 'Domain', title: '域名'}
                , {title: '操作', templet: "#operationTpl", width: 180, fixed: "right"}
            ]]
        });

        table.on('tool(baseDomainListTable)', function (obj) {
            var data = obj.data;
            var layEvent = obj.event;
            if (layEvent == "research") {
                researchOpen(data.Domain, 1);
            } else if (layEvent == "list") {
                researchOpen(data.Domain, false);
            }
        });

        layer.open({
            type: 1,
            title: false,
            closeBtn: false,
            area: ["85%", "85%"],
            shade: 0.3,
            btnAlign: 'c',
            moveType: 1,
            content: $('#baseDomainListDiv'),
        });

        var researchOpen = function (data, isReload) {
            if (data == "") {
                layer.msg("请输入【根域名】");
                return
            }
            layer.open({
                type: 2,
                title: "【" + data + "】搜索中...",
                area: ["60%", "60%"],
                shade: 0,
                moveType: 1,
                content: "/v1/dns/search?domainStr=" + data + "&isReload=" + isReload,
                end: function () {
                    $.get("/v1/dns/search/close?domainStr=" + data, function (res) {
                        console.log(res.msg);
                    })
                }
            });
            table.reload("baseDomainListTable", {});
        };

        form.on("submit(search)", function (data) {
            researchOpen(data.field.baseDomain, 1);
        });
    });
</script>
[[[template "common/footer.html" .]]]
[[[end]]]